@font-face {
  font-family: "phoenix";
  src: url("fonts/phoenix-bios.woff") format('woff');
}
body {
  background-color: #000000;
  color: #ffff;
  font-family: phoenix;
  text-align: left;
  margin: 0;
  font-weight: bold;
  background-image: url("bg.gif");
  background-repeat: repeat;
  justify-content: center;

}
html {
    cursor: url(mouse.png), auto;
    }
td {
  border: 3px solid purple;
}
table {
  border: 3px solid purple;
  background-color: rgb(43, 43, 43);
  margin:auto;
}
header {
  background-color: #2300ff;
  padding: 20px;
  text-align: center;

}

h1 {
  font-size: 36px;
  margin: 0; /* Remove default margin */
}

p {
  font-size: 18px;
  margin: 20px;
  color: #00ff0c;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #00ff0c;
}
        .navbar {
            width: 70%; /* Ensure the navbar table takes up the full width of its parent container */
        }
        .navbar td {
            text-align: center; /* Center text within the cells */
            max-width: 20%;
            width: 20%
            }
        table {
            text-align: center;
        }
